# $Id: server.config 7448 2015-12-16 04:20:53Z sivitilli $
# The server creates one single object adapter with the name
# "Lat". The following line sets the endpoints for this
# adapter.
#
Lat.Endpoints=tcp -p 13000 -h 0.0.0.0

#
# Ice Logging system
#
# 0 = no logging
# 1 = logging in /var/log/messages
#
Ice.UseSyslog=0

Ice.MessageSizeMax=9000

# Test property
Lat.WelcomeMessage=true

# Max allowed message size from Server to Client
Ice.MessageSizeMax=40000


# LAT Control and Camera IP_address/Server_name, Port
# and time to wait in microseconds for the socket response.
# 192.168.26.126 for LAT Focus
# 192.168.127.254 for test motor
# 192.168.26.238 for Camera
Control.Host=192.168.26.126
Control.Port=4001
Control.Uwait=250
# Camera.Host=192.168.100.100
Camera.Host=192.168.26.238

# Current celestial target
Lat.Target=
