# this is the definition of the client proxy.
Lat.Proxy=Lat:tcp -p 13000 -h localhost

#you can add any other property here if you like.

# Path to save the fits files
Lat.Path=/tmp

# Prefix to add to file names
Lat.Prefix=Dark

# Mark true to enable date in file name
Lat.FileDate=1

# Mark true to enable count in file name
Lat.FileCount=1

# Max allowed message size from Server to Client
Ice.MessageSizeMax=40000
